/* blog general styles */

.blogs {
	margin: 3rem;
}

.blog {
	margin: 3rem;
	padding-bottom: 1.5rem;
	border-radius: 10px;
}

.titletag {
	display: flex;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.title {
	font-weight: 500;
	font-size: 2rem;
}

.hashtag {
	font-size: 1.2rem;
	font-weight: 500;
}

/* actual blog post  */

.blogbody {
	padding: 2rem;
	padding-top: 1.5rem;
}

.blog h2,
.blog h3,
.blog p,
.blog li {
	line-height: 2;
}

.blog h2 {
	font-size: 1.7rem;
	font-weight: 500;
}

.blog h3 {
	font-size: 1.7rem;
	font-weight: 500;
}

.blog p {
	font-size: 1.3rem;
}

.blog li {
	font-size: 1rem;
}

.blogbody .focus {
	color: darkred;
}

.blogbody .focusdifferent {
	color: darkred;
}

.blogbody ul {
	margin-left: 5rem;
	list-style: circle;
}

.blogbody ul li {
	margin-bottom: 2rem;
	word-break: break-word;
}

.blogbody ol li {
	margin-bottom: 2rem;
}

.blogbody .code {
	background-color: black;
	color: white;
	padding: 1rem;
	list-style: none;
}

.paragraph {
	/* this applies only for blogs where i wrap elements in div that has this class */
	padding-top: 1rem;
}

.paragraph h2 {
	/* this applies only for blogs where i wrap elements in div that has this class */
	padding-bottom: 2rem;
}

.noncodeimg {
	border-radius: 10px;
	width: 80%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* media */

@media (max-width: 1024px) {
	.blog .titletag {
		flex-direction: column;
		align-items: unset;
	}

	.hashtag {
		margin-top: 1rem;
	}
}

@media (max-width: 600px) {
	.blogs {
		padding-top: 0rem;
		margin: 0rem;
	}
}

@media (max-width: 500px) {
	/* .blog h2 {
		font-size: 1.9rem;
	}

	.blog h3 {
		font-size: 1.8rem;
	}

	.blog p {
		font-size: 1.7rem;
	}

	.blog li {
		font-size: 1.6rem;
	} */
}
